body{
    background-image:url(ica.png)
}
.header{
	width: 100%;
	height: 20px;
	color:black;
	font-size:15px;
	text-align: center;
	letter-spacing:2px;
    
}
/*style yang kami pakai disini adalah style bawaan dari basic yang kami buat */
@media only screen and(max-width:500)
.header1{
    font-size:10px;	
}
.header1{
    background-color: purple;
    height:100px;
    width: 100%;
	height:100px;
	line-height:50px;
}
