.header2{
    width: 100%;
    height: 100px;
    color: white;
    line-height: 100px;
    background-color: purple;
}
.file{
    width: 100%;
    height: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
}
body{
    margin: 0;
    padding: 0;
    background: url(gaming.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 20px;
    border-radius: 22px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color:darkgray;
}

.loginbox a:hover
{
    color:aqua;
}
/*syle untuk hyperlink ke semua situs yang kita catum ke a herf dan menggunakan style tulisan ke tengah warna putih*/
.header{
	width: 100%;
	height: 30px;
	color: white;
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
}
/*style untuk header dengan background putple dengan P X L 100% dan 150px*/
.header1{
	width: 100%;
	height: 150px;
	color: white;
	line-height: 150px;
	background-color: purple;
}
body{
	margin: 0px;
	padding: 0px;
}